{% extends "base.html" %}
{% block content %}

<div class="row align-items-center mb-4">

    <div class="col-md-6">
        <h1 class="hero-title">Architecture Design</h1>
        <p class="hero-sub">System structure & scalability</p>
    </div>

    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/architecture_visual.png') }}" class="hero-img">
    </div>

</div>

<div class="card p-4 text-center">

    <h4>{{ architecture.type }}</h4>
    <p>{{ architecture.description }}</p>

    <img src="{{ url_for('static', filename=architecture.image) }}"
         class="img-fluid mt-3"
         style="border:2px solid #00ffe0;">

</div>

<a href="/gantt" class="btn mt-3">Next ➜</a>

{% endblock %}